/* Bộ lọc */
.hangsanxuat_gr .hangsanxuat_title{
    text-align: center;
    padding: 15px 0px;
    font-weight: 600;
    margin: 21px 0px 0px 0px;
    background-color: #09b1b9;
    color: #fff;
}
.hangsanxuat_gr .boloc_content{
    width: 330px;
    margin: auto;
    margin-top: auto;
    margin-top: 15px;
    padding: 10px 8px 10px 8px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #0db8ca;
}
.hangsanxuat_gr .boloc_content table{
    width: 100%;
}
.hangsanxuat_gr .boloc_content table tr .cot_title{
    width: 20%;
    text-align: right;
}
.hangsanxuat_gr .boloc_content table tr td:first-child{
   width: 22%; 
   font-size: 15px;
}
.hangsanxuat_gr .boloc_content table tr td .nhaptukhoa{
    width: 100%;
    padding: 3px 3px; 
    margin: 2px 0px;
}
.hangsanxuat_gr .boloc_content table tr td .btn_submit{
    float: right;
    width: 80px;
    height: 28px;
    margin-top: 5px;
    background-color: #fff;
}
/* Danh sách hãng sản xuất */
.hangsanxuat_gr #danhsach{
    margin: 20px 0px 0px 0px;
}
.hangsanxuat_gr #danhsach table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;   
}
.hangsanxuat_gr #danhsach th,
.hangsanxuat_gr #danhsach table td{
    border: 1px solid #ddd;
    padding: 8px;
}
.hangsanxuat_gr #danhsach tr:nth-child(even){
    background-color: #f2f2f2;
}
.hangsanxuat_gr #danhsach tr:hover{
    background-color: #ddd;
}
.hangsanxuat_gr #danhsach th{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}
.capnhat_hsx{
    color: #0171e8;
}
.capnhat_hsx:hover{
    cursor: pointer;
}

/* Định dạng nút phân trang */
.PhanTrang{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ClickPage{
    padding: 0 4px;
  }
  .SoTrang{
    padding: 0 4px;
  }
  .CurrentPage{
    color:red;
  }

  /* Nhóm nút thêm xóa in Xuất Excel */
.action_gr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px 8px 5px;
}
.action_gr .soluong_hangsanxuat{
      
}
.action_gr .chucnang_gr{
  
}
.action_gr .chucnang_gr .thaotac{
    width: 90px;
    padding: 4px 0px;
    cursor: pointer;
    background-color: #fff;      
}
.action_gr .chucnang_gr .thaotac .icon{
     
}

/* Form thêm hãng sản xuất */
.modal_them{
    position: fixed;
    top: -300px;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background: rgb(0, 0, 0,0.4);

}
.modal_them .content_them{
    background-color: #fff;
    box-shadow: 1px 1px 2px #8a8c8c;
    overflow: hidden;
    border-radius: 8px;
    animation: modalchuyendong linear 0.3s;   
}
.modal_them .content_them .headerthem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0549ca;
    padding: 6px 6px;
    width: 350px;   
}
.modal_them .content_them .headerthem .headerthem_title{
    color: #fff;
    font-size: 15px;
    font-weight: 600;    
}
.modal_them .content_them .headerthem .headerthem_icon{
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;    
}
.modal_them .content_them .body{
    margin-top: 10px;   
}
.modal_them .content_them .body .info_gr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 16px;    
}
.modal_them .content_them .body .info_gr .info_label{
    font-size: 16px;   
}
.modal_them .content_them .body .info_gr .info_text{
    width: 76%;
    padding: 2px 3px;    
}
.modal_them .content_them .body .info_gr_btn{
    text-align: center;
    margin: 10px 0px 16px 0px;
}
.modal_them .content_them .body .info_gr_btn .btn_them{
    width: 72px;
    padding: 3px 0px;   
}
.modal_them .content_them .body .info_gr_btn .btn_huy{
    width: 72px;
    padding: 3px 0px;   
}
.active_them{
    display: flex;
}
@keyframes modalchuyendong{
    from{
        transform: translateY(-100px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

/* các checkbox chọn nhiều */
